body{
    background-image: url('https://images.unsplash.com/photo-1511733897353-5b04f82435a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


h1{
    color: purple;
    text-align: center;
    text-shadow: 1px 3px 5px darkgray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 46px;   
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#shopping-chat{
    max-width: 250px;
    margin: 0 auto 50px;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px darkgray;
    border-radius: 2px;
    font-family: cursive;
}

#chat-window{
    height: 300px;
    overflow: auto;
    background: whitesmoke;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: purple;
    font-size: 18px;
}



input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: whitesmoke;
    border: 0;
    display: block;
    width: 100%;
    background: white;
    border: 1px solid whitesmoke;
    font-size: 16px;
}

button{
    background: purple;
    color: white;
    font-size: 16px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

